{% extends 'base.html' %}

{% block styles %}
    <style>
        footer
        {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    </style>
{% endblock %}

{% from "forms_macros.html" import render_field %}

{% block main %}
    <main class="main pt-4">
        <div class="container">
            <article class="card card-outline mb-4">
                <div class="card-body">
                    <header>
                        <h4 class="card-title">Account form</h4>
                    </header>
                    <form method="POST">
                        {{ form.hidden_tag() }}

                        {{ render_field(form.email, type="email", class="form-control", id="inputEmail", placeholder="Email", required=True) }}
                        {{ render_field(form.username, type="text", class="form-control", id="inputUsername", placeholder="Username", required=True) }}
                        {{ render_field(form.password, type="password", class="form-control", id="inputPassword", placeholder="Password", required=True) }}
                        {{ render_field(form.pass_confirm, type="password", class="form-control", id="inputPasswordConfirm", placeholder="Confirm Password", required=True) }}

                        <div class="form-group row">
                            <div class="col-sm-10">
                                {{ form.submit(type="submit", class="btn btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </main>
{% endblock %}


{# Override unneeded blocks #}

{% block newsletter %}
{% endblock %}

{% block instagram %}
{% endblock %}