<article class="card mb-4">
    <header class="card-header">
        <div class="card-meta">
            <time class="timeago" datetime="{{ post.date.strftime('%Y-%m-%d %H:%M') }}">{{ post.date.strftime('%d %B %Y') }}</time> in <a href="{{ url_for('blogs.posts_category', cat=post.category.name) }}">{{ post.category.value }}</a>
        </div>
        <a href="{{ url_for('blogs.blog_post', pk=post.id) }}">
            <h4 class="card-title">{{ post.title }}</h4>
        </a>
    </header>
    <a href="{{ url_for('blogs.blog_post', pk=post.id) }}">
    <img class="card-img" src="{{ url_for('static', filename='articles/' + post.main_image) }}" alt="" />
    </a>
    <div class="card-body">
        <p class="card-text">{{ post.short_description }}</p>
    </div>
</article>
<!-- /.card -->