{% macro render_field(field) %}
    {% if not field.errors %}
        <div class="form-group row">
            {{ field.label(for=id, class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ field(**kwargs)|safe }}
            </div>
        </div>
    {% else %}
        <div class="form-group row">
            {{ field.label(for=id, class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {% set _ = kwargs.pop('class', None) %}
                {{ field(class="form-control is-invalid", **kwargs)|safe }}
                <div class="invalid-feedback">
                    {{ field.errors[0] }}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
